@import "theme-editor.css";
@import url('./main-layout.css');
@import url('./views/welcome-view.css');
@import url('./views/cases-view.css');
@import url('./views/case-details-view.css');
@import url('./views/add-new-case-view.css');
@import url('./views/add-new-user-view.css');
@import url('./views/search-case-view.css');
@import url('./views/users-view.css');
@import url('./views/tasks-view.css');
@import url('./views/add-task-view.css');
@import url('./views/chat-view.css');
@import url('./views/add-task-type-view.css');
@import url('./views/add-depttype-view.css');
@import url('./views/add-case-type-view.css');
@import url('./views/add-court-type-view.css');
@import url('./views/reminder-view.css');    html {
      --lumo-primary-color-50pct: hsla(214, 0%, 0%, 0.5);
      --lumo-primary-color-10pct: hsla(214, 0%, 0%, 0.1);
      --lumo-primary-color: hsl(214, 0%, 0%);
      --lumo-primary-text-color: hsl(214, 0%, 0%);

    }

    [theme~="dark"] {

    }
